<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social APP</title>
</head>
<body id="body">
  <main>
      <section>
          <h1>
            <p class="title">Welcome to {{title}}</p>
          </h1>
        </section>
    <section>
        <table class="menuOption">
          <tr>
            <td> <img height="55" width="80" src="../assets/logo.jpg"></td>
            <td><button type="button" class="optionUrl" name="Mis historietas">Mis historietas</button></td>
            <td><button type="button" class="optionUrl" name="Mis cosas">Mis cosas</button></td>
            <td><button type="button" class="optionUrl" name="Mis colegas">Mis colegas</button></td>
            <td><button type="button" class="optionUrl" name="Eventos">Eventos</button></td>
        </tr>
        </table>
    </section>
  </main>
</body>
</html>