body{
    background-color: teal;
}

#body section:nth-child(2){
    text-align: center;
    padding-left: 32%;
    padding-right: 31%;
}


.title{
    text-align: center;
    color: chocolate;
}
.menuOption{
    align-content: center;
    background-color: teal;
}
.optionUrl{
    align-content: center;
    background-color: bisque;
    border-radius: 33%;
}